@require '_lib'

#appheader
	height header-height
	-webkit-app-region drag
	border-bottom 1px solid #c2c0c2
	z-index 0
	text-align center
	line-height 40px
	font-size 13px
	color #666
	background #d5d5d5
	user-select none
	transition background-color .3s ease-out, color .3s ease-out



.window-inactive #appheader
	background #fff
	color #ccc
