html { overflow-x: hidden; }
body { min-width: auto !important; background: none; user-select: none; }

.main-content { padding: 0; }

.header,
.Header,
.site-footer,			/* deprecated: old css */
.footer,
.flash-full.js-notice,
.notification-actions .mute,
.notification-actions .unmute,
.notification-actions .AvatarStack,
.notification-actions .js-save-notification,
.notification-center .tabnav,
.mark-all-as-read-confirmed,
.repohead,
.protip,
.Popover,
.site-footer-container { display: none !important; }


/* notifications full view */
.container { width: auto; margin: 0; padding: 0;  }

/* old */
.gut-md { width: auto; margin: 0; }
.gut-md>.col-3 { display: none; }
.gut-md>.col-9 { float: none !important; width: 100%; padding: 0 !important; }
.gut-md>.col-9 .blankslate { background: none; box-shadow: none; border: 0; }

/* new */
.gutter { width: auto; margin: 0; }
.gutter>.col-3 { display: none; }
.gutter>.col-9 { float: none !important; width: 100%; padding: 0 !important; }
.gutter>.col-9 .blankslate { background: none; box-shadow: none; border: 0; }

.notifications-list .boxed-group-inner { border-width: 1px 0; }
.notifications-list .boxed-group { margin-bottom: 20px; }
.notifications-list .boxed-group>h3 { border-width: 0 0 1px 0; position: sticky; }
.notifications-list .paginate-container { margin: 0; }

.notifications .list-group-item { border: none; }
.notifications .list-group-item-name { max-width: 100%; margin-right: 220px; }
.notifications .list-group-item-name a { max-width: 100%; }
.notifications .list-group-item-name a:hover { text-decoration: underline; }



/* Notifications dark theme */
.blankslate,
.notifications .read.navigation-focus,
.list-group-item.navigation-focus,
.notifications-list .boxed-group>h3,
.boxed-group-inner { background: none; color: #eee; border: none; }
.list-group-item-link { color: #ddd; }

.notifications .notifications-more>a,
.notification-actions .btn-link { color: #999; }
.blankslate h3 { font-weight: 100; }
.blankslate p { display: none; }


.notifications .read .type-icon-state-open { color: #6cc644; }
.notifications .read .type-icon-state-closed { color: #bd2c00; }
.notifications .read .type-icon-state-merged { color: #6e5494; }
.notifications .read .list-group-item-name>a { color: #ddd; }

.notifications .read .list-group-item-name>a,
.notifications .read .type-icon { opacity: 0.4; }


/* name, age, checkbox and avatars */
@media (max-width: 850px) {
	.main-content { padding: 0 10px; }
	.one-fourth { display: none; }
	.three-fourths { width: 100%; }
	.notifications .list-group-item-name { max-width: auto; margin-right: 200px; }
	.notification-actions>li.age { width: 100px; }
}

/* name, age and checkbox */
@media (max-width: 550px) {
	.notifications .list-group-item-name { margin-right: 130px; }
	.notification-actions>li.age { width: 90px; }
	.notification-actions>li.tooltipped { display: none; }
}

/* name and checkbox */
@media (max-width: 450px) {
	.notifications .list-group-item-name { margin-right: 25px; font-size: 12px; line-height: 1.2; }
	.list-group-item-name .type-icon { margin-top: -2px; }
	.notification-actions { top: 4px; }
	.notifications-more { font-size: 12px; }
	.notification-actions>li.age { display: none; }
}
