
.addressbar {
	padding: 2px 5px;
	margin: 0 5px;
	height: 24px;
	font-size: 13px;
	border-radius: 4px;
	border: 1px solid #ccc;
	flex: 1;
}


/* STAR BOX */
.star-box .js-star { display: inline; }
.star-box .js-unstar { color: #FF9C20; display: none; }


.star-box.is-starred .js-star { display: none; }
.star-box.is-starred .js-unstar { display: inline; }

