.addressbar-input-wrapper { flex: 1; display: flex; position: relative; }


.addressbar {
	padding: 3px 10px 3px 32px;
	margin: 0 5px;
	height: 100%;
	font-size: 15px;
	border: 1px solid #ccc;
	border-width: 0 1px;
	flex: 1;
	background-color: transparent;
	color: #666;
	transition: background-color .3s ease-out, color .3s ease-out;
}

.addressbar:focus { outline: none; background-color: #fff; color: #222; }


header.loading .addressbar,
header.error .addressbar { padding-right: 40px; }


/* STAR BOX */
.star-box { position: absolute; top: 1px; left: 8px; height: 100%; padding: 6px 0; }
.star-box .js-star { display: inline; }
.star-box .js-unstar { color: #E73528; display: none; }


.star-box.is-starred .js-star { display: none; }
.star-box.is-starred .js-unstar { display: inline; }

