.history
	position absolute
	left 0
	right 0
	top 38px
	height 200px
	background-color #fff
	box-shadow 0 5px 5px rgba(0, 0, 0, 0.4)
	border-radius 4px
	text-align center
	opacity 0
	display none


.history-list
	width 100%
	height 100%
	padding 10px 0
	border none
	font inherit

	&:focus
		outline none

	option
		padding 5px 90px 5px 179px
