.project-box {
	padding: 10px 20px;
	margin: 5px 0;
	font-size: 12px;
	font-weight: 100;
	line-height: 1;
	overflow: hidden;
	display: block;
}

.project-box .name { display: block; padding: 1px 0 5px; }
.project-box .time { display: block; font-size: 11px; color: rgba(255,255,255,0.5) }
.project-box .avatar { width: 32px; height: 32px; float: left; margin: 0 10px 0 0; }

.subnav-section .project-box:hover { text-decoration: none; }
.subnav-section .project-box:hover .name { text-decoration: underline; }