.project-box {
	padding: 10px 20px 15px;
	margin: 5px 0;
	font-size: 12px;
	font-weight: 100;
	line-height: 1;
	overflow: hidden;
}

.project-box .btn { display: block; padding: 3px 0; font-size: 13px; }

.project-box span {
	display: block;
	font-size: 12px;
	color: rgba(255,255,255,0.5)
}


.project-box .avatar {
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 10px 10px 0;
}