.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	background: #2B384D;
	padding: 0;
	color: #eee;
}
.sidebar a { color: inherit; display: block; }

#notifications-sidebar {
	background-color: #34445E;
}

.sidebar h1 { font-size: 14px; font-weight: 600; line-height: 1; margin: 0; color: #888;
	padding: 13px 0 0; height: 38px; text-transform: uppercase; text-align: center;
}
.sidebar h2 { font-size: 14px; line-height: 17px; font-weight: 600; line-height: 1; margin: 0; }

.repo-list {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	overflow-y: auto;
}


.repo-box { padding: 5px 0 10px 0; margin-bottom: 20px; }
.repo-box li { display: block; padding: 0 10px 0 20px; }
.repo-box a { padding: 10px 10px 12px 20px; }
.repo-box li a { font-size: 12px; display: inline; padding: 5px 0 10px 0; }
.repo-box em { color: #999; font-style: normal; margin-right: 6px; }
.repo-box em:before { content: '#'; }

.repo-box-issues { list-style: none; margin: 0; padding: 0; }


#notifications-sidebar { left: -300px; transition: left .3s ease-out; }
#notifications-sidebar.visible { left: 0; }
#notifications-sidebar .js-refresh { position: absolute; top: 9px; right: 45px; z-index: 100; }
#notifications-sidebar .js-refresh:hover { color: lightblue; }