.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	background: #2B384D;
	padding: 0;
	color: #eee;
}
.sidebar a { color: inherit; display: block; }


.sidebar h1 { font-size: 14px; font-weight: 600; line-height: 1; margin: 0; color: #888;
	padding: 13px 0 0; height: 38px; text-transform: uppercase; text-align: center;
}
.sidebar h2 { font-size: 14px; line-height: 17px; font-weight: 600; line-height: 1; margin: 0; }

.repo-list {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	overflow-y: auto;
}


.repo-box { padding: 5px 0 10px 0; }
.repo-box .hdr { padding: 10px 10px 12px 20px; display: block; }

.repo-box li { padding: 5px 20px 5px 20px; display: flex; font-weight: 100; }
.repo-box li i { color: #999; width: 18px; min-width: 18px; font-size: 16px; margin: -1px 3px 0 0; }
.repo-box li a { padding: 0; font-size: 12px; }
.repo-box li em { color: #999; font-style: normal; font-size: 12px; margin-left: 3px; display: none; }


.repo-box-issues { list-style: none; margin: 0; padding: 0; }
