#main {
	position: absolute;
	left: 380px;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

#frame {
	position: absolute;
	top: 38px;
	left: -380px;
	right: 0;
	bottom: 0;
	background-color: #eee;
	overflow: hidden;

}

webview {
	outline: none;
	height: 100%;
	width: 100%;
	position: relative;
	transition: opacity .4s ease-out;
}

webview.loading {
	opacity: 0;
}