body { min-width: auto !important; }

.main-content { padding: 0; }

.pjax-loader-bar,
.repository-meta,
.header,
.site-footer,
.flash-full.js-notice,
.notification-actions .mute,
.notification-center .tabnav,
.repohead,
.protip,
.site-footer-container { display: none; }


/* notifications full view */
.container { width: 100% !important; margin 0; padding: 0 !important;  }
.gut-md { width: auto; margin: 0; }
.gut-md>.col-3 { display: none; }
.gut-md>.col-9 { float: none !important; width: 100%; padding: 0 !important; }
.gut-md>.col-9 .blankslate { background: none; box-shadow: none; border: 0; }

.notifications-list .boxed-group-inner { border-width: 1px 0; }
.notifications-list .boxed-group { margin-bottom: 0; }
.notifications-list .boxed-group>h3 { border-width: 0 0 1px 0; position: sticky; }
.notifications-list .paginate-container { margin: 0; }

.notifications .list-group-item-name { max-width: 100%; margin-right: 220px; }
.notifications .list-group-item-name a { max-width: 100%; }


.issues-listing .border-right,
.issues-listing .border-bottom,
.issues-listing .border-left { border: none !important; }

.issues-listing .subnav { display: none; }
.issues-listing .table-list-header { border-width: 0 0 1px; border-radius: 0; margin: 0; }

.files-bucket,
.js-issues-results { padding: 20px 30px 30px 25px; }
.timeline-new-comment { max-width: initial; }
.previewable-comment-form textarea { max-height: none; min-height: 200px; }

.issues-reset-query-wrapper { display: none; }
.discussion-timeline { width: calc(100% - 220px); }


.page-dashboard { padding: 30px; }
.page-dashboard .news>.text-center { display: none; }
.page-dashboard .news .alert { border: none; }
.page-dashboard .news .account-switcher { display: none; }



/* name, age, checkbox and avatars */
@media (max-width: 850px) {
	.main-content { padding: 0 10px; }
	.one-fourth { display: none; }
	.three-fourths { width: 100%; }
	.notifications .list-group-item-name { max-width: auto; margin-right: 200px; }
	.notification-actions>li.age { width: 100px; }
}

/* name, age and checkbox */
@media (max-width: 550px) {
	.notifications .list-group-item-name { margin-right: 130px; }
	.notification-actions>li.age { width: 90px; }
	.notification-actions>li.tooltipped { display: none; }
}

/* name and checkbox */
@media (max-width: 450px) {
	.notifications .list-group-item-name { margin-right: 25px; }
	.notification-actions>li.age { display: none; }
}

/* just name */
@media (max-width: 350px) {
	.notification-actions { display: none; }
	.notifications .list-group-item-name { margin-right: 0; }
}
