#search-bar
	transition width .3s ease-out
	width 286px
	overflow hidden

	&.hidden
		pointer-events none
		width 0;

	button
		font-size 20px
		line-height 1
		padding 2px 0 0
		height 100%
		width 26px
		color #888
		float left
		text-align center
		cursor pointer
		transition background-color .2s
		background-color #eee
		margin-left 1px

		&:hover
		&:focus
			color #000

		&:active
			background-color #999
			color #000

		&[disabled]
		&[disabled]:hover
			color #ccc
			cursor default


	.search-input
		width 200px
		float left
		z-index 9
		background-color rgba(#000, 0.1)
		color #000


	.search-info
		position absolute
		font-size 13px
		right 90px
		top 7px
		color #aaa
		z-index 10


