
header {
	-webkit-user-select: none;
	-webkit-app-region: drag;
	position: absolute;
	z-index: 99;
	height: 38px;
	top: 0;
	left: 0;
	right: 0;
	padding: 7px 0 0 0;
	text-align: right;
	white-space: nowrap;
	display: flex;
	min-width: 720px;
}

.side-header { width: 300px; padding-left: 70px; }
.main-header { display: flex; flex: 1; padding-right: 5px; border-bottom: 1px solid #c2c0c2; }

.notification-toggle { float: right; margin-right: 15px; }
.notification-toggle .js-hide-notifications { display: none; }

.notification-toggle.is-visible .js-show-notifications { display: none; }
.notification-toggle.is-visible .js-hide-notifications { display: inline-block; color: lightblue; }


.header-btn {
	font-size: 22px;
	color: #888;
	transition: color .3s;
	margin: 0;
	cursor: pointer;
	padding: 0 10px;
	text-align: center;
}
.header-btn:hover { color: blue; }
.header-btn:active { color: black; }

.side-header .header-btn:hover { color: lightblue; }
.side-header .header-btn:active { color: white; }


/* STAR BOX */
.star-box { pointer-events: normal; }
.star-box.is-issue { pointer-events: normal; }

.star-box .js-star { display: inline; opacity: 0.3; pointer-events: none; }
.star-box .js-unstar { color: #FF9C20; display: none; }

.star-box.is-starred .js-star { display: none; }
.star-box.is-starred .js-unstar { display: inline; }

