header {
	position: absolute;
	z-index: 99;
	height: 38px;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
	text-align: right;
	white-space: nowrap;
	display: flex;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.main-header-inner {
	padding: 0 5px 0 0;
	background-color: #f3f3f3;
	display: flex;
	position: absolute;
	width: 100%;
	height: 37px;
	z-index: 100;
}
.main-header-border { position: absolute; bottom: 0; width: 100%; border-bottom: 1px solid #c2c0c2; z-index: 99; }

.header-btn {
	font-size: 22px;
	color: #888;
	transition: color .3s;
	margin: 0;
	cursor: pointer;
	padding: 6px 10px;
	text-align: center;
}
.header-btn:hover { color: #4078c0; }
.header-btn:active { color: black; }

.side-header .header-btn { color: #eee; }
.side-header .header-btn:hover { color: lightblue; }
.side-header .header-btn:active { color: white; }


header .disabled { pointer-events: none; opacity: 0.3; }

header .js-sync,
header .js-error { position: absolute; z-index: 2; right: 100px; top: 0; }

header .js-sync { opacity: 0; transition: opacity .3s ease-out; }

header .js-error:hover,
header .js-error { color: red; display: none; }

header .js-stop { display: none; }

header .js-refresh,
header .js-stop { width: 35px; }


header.loading .js-sync { opacity: 1; }
header.loading .js-refresh { display: none; }
header.loading .js-stop { display: block; }


header.error .js-sync { display: none; }
header.error .js-error { display: block; }



header .js-sync { color: #888; width: 24px; height: 24px; right: 107px; top: 7px; box-shadow: inset 0 0 0 2px; transform: translateZ(0); }

.js-sync,
.js-sync:before,
.js-sync:after { border-radius: 50%; background-color: inherit; }

.js-sync:before,
.js-sync:after { width: 13px; height: 26px; position: absolute; content: ''; }

.js-sync:before { top: -1px; left: -1px; transform-origin: 13px 13px; border-radius: 26px 0 0 26px; animation: spin 2s infinite ease 1.5s; }
.js-sync:after { top: -1px; left: 12px; transform-origin: 0 13px; border-radius: 0 26px 26px 0; animation: spin 2s infinite ease; }

@keyframes spin { 0% { transform: rotate(0); } 100% { transform: rotate(360deg); }}
