.addressbar-results {
	position: absolute;
	left: 0;
	right: 0;
	top: 38px;
	height: 200px;
	background-color: #fff;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	transition: opacity .3s ease-out;
	text-align: center;
	opacity: 0;
	display: none;
}

.addressbar-results.visible { opacity: 1; }


.addressbar-results-list {
	width: 100%;
	height: 100%;
	padding: 10px 0;
	border: none;
	font: inherit;
}

.addressbar-results-list option { padding: 5px 90px 5px 179px; }