@require '_lib'


#addressbar
	position absolute
	top header-height
	left (navbar-width + subnavbar-width)
	right 0
	height addressbar-height
	background-color #fff;
	color #aaa;
	border-bottom 1px solid #ccc


	button
		font-size 22px
		line-height 1
		margin 0
		width 34px
		padding 2px 10px
		cursor pointer
		text-align center
		background none
		border none
		color #666
		transition color .2s ease-out

		&:hover
			color #4078c0

		&:active
			color black

		&:focus
			outline none

		&.disabled
			color #ccc
			pointer-events none

	input[type="number"]::-webkit-outer-spin-button
	input[type="number"]::-webkit-inner-spin-button
		-webkit-appearance none
		margin 0


	input
		padding 1px 10px 2px
		margin 0 0 0 5px
		height 100%
		font-size 14px
		background-color transparent
		border none
		color inherit
		transition background-color .3s ease-out, color .3s ease-out, padding .3s ease-out

		&:focus
			outline none
			background-color rgba(#000, 0.1)
			color #000



.addressbox-wrapper
	flex 1
	display flex
	position relative


	.loader
	.error
		position absolute
		z-index 2
		right 10px
		transition opacity .3s ease-out

	.loader
		opacity 0
		top 5px

	.error
		z-index 2
		top 0
		font-size 22px


	.error
	.error:hover
		color red
		display none


.addressbar-inner
	height 100%
	display flex

	.btn-refresh
		display block

	.btn-stop
		display none

	&.loading
	&.error
		.addressbox
			padding-right 40px


	&.loading
		.btn-refresh
			display none

		.btn-stop
			display block


	&.error
		.loader
			display none

		.error
			display block


.addressbox
	flex 1
	display flex

.issueidbox
	width 100px
	margin-left 0
	border-left 0
	text-align center
	border-right 0


.window-inactive #addressbar
	color #ccc

	button
		color #ccc