.addressbar-input-wrapper
	flex 1
	display flex
	position relative
	background-color inherit


.addr-input
	padding 3px 10px
	margin 0 0 0 5px
	height 100%
	font-size 15px
	border 1px solid #ccc
	border-width 0 1px
	background-color transparent
	color #666
	transition background-color .3s ease-out, color .3s ease-out


.addr-input:focus
	outline none
	background-color #fff
	color #222


.addressbar
	flex 1
	z-index 1

.issue-id-bar
	width 100px
	margin-left 0
	border-left 0
	text-align center
	border-right 0;


header.loading .addressbar
header.error .addressbar
	padding-right 40px



input[type="number"]::-webkit-outer-spin-button
input[type="number"]::-webkit-inner-spin-button
	-webkit-appearance none
	margin 0
