loader-size = 20px
loader-thickness = 2px
loader-color = #666


.loader
	clip rect(0, loader-size, loader-size, loader-size / 2)
	height loader-size
	width loader-size
	transform translateZ(0)


	&:after
		content ''
		position absolute
		clip rect(0, loader-size, loader-size, loader-size / 2)
		height loader-size
		width loader-size
		border-radius 50%
		box-shadow inset loader-color 0 0 0 loader-thickness


.loading
	.loader
		animation spin1 1.5s linear infinite
		opacity 1

		&:after
			animation spin2 1.5s ease-in-out infinite


@keyframes spin1
	0%
		transform rotate(0deg)
	100%
		transform rotate(220deg)

@keyframes spin2
	0%
		transform rotate(-140deg)

	100%
		transform rotate(140deg)

