loader-size = 20px
loader-thickness = 2px
loader-color = #fff


.loader
	animation spin1 1.5s linear infinite
	clip rect(0, loader-size, loader-size, loader-size / 2)
	height loader-size
	width loader-size
	position absolute
	left calc(50% - loader-size / 2)
	top calc(50% - loader-size / 2)


.loader:after
	position absolute
	animation spin2 1.5s ease-in-out infinite
	clip rect(0, loader-size, loader-size, loader-size / 2)
	content ''
	border-radius 50%
	height loader-size
	width loader-size
	box-shadow inset loader-color 0 0 0 loader-thickness


@keyframes spin1
	0%
		transform rotate(0deg)
	100%
		transform rotate(220deg)

@keyframes spin2
	0%
		transform rotate(-140deg)

	100%
		transform rotate(140deg)

