#search-bar
	transition width .3s ease-out
	width 286px
	overflow hidden

	&.hidden
		pointer-events none
		width 0;

	button
		font-size 20px
		line-height 1
		padding 2px 0 0
		height 100%
		width 26px
		color #eee
		float left
		text-align center
		cursor pointer
		transition background-color .2s
		background-color rgba(#fff, 0.2)
		margin-left 1px

		&:focus
			color #fff

		&:active
			background-color #333
			color #666

		&[disabled]
		&[disabled]:hover
			color #333
			cursor default


	.search-input
		width 200px
		float left
		z-index 9
		background-color rgba(#fff, 0.2)
		color #fff


	.search-info
		position absolute
		font-size 13px
		right 90px
		top 7px
		color #aaa
		z-index 10
