navbar-width = 76px
subnavbar-width = 300px
header-height = 38px
addressbar-height = 30px



ico-col-open = #28a745
ico-col-closed = #cb2431
ico-col-merged = #a476f9

ico-col-failure = firebrick
ico-col-success = yellowgreen
progressbar-color = yellowgreen
unread-dot-color = red

