html
body
	width 100%
	height 100%
	margin 0
	padding 0
	color #333
	overflow hidden
	font caption
	-webkit-font-smoothing subpixel-antialiased

// body
// 	background #444

body *
	box-sizing border-box
