@require '_lib'

#subnav
	position absolute
	width subnavbar-width
	left navbar-width
	top 0
	bottom 0
	color #eee
	user-select none
	background #222
	border-right 1px solid #333



.subnav-header
	display flex

	h1
		font-size 14px
		font-weight 300
		line-height 12px
		flex 1
		margin 0
		color #eee
		padding 13px 0 0
		height 38px
		text-transform uppercase
		text-align center
		-webkit-app-region drag

	button
			font-size 22px
			line-height 1
			margin 0
			width 45px
			height 38px
			padding 2px 0
			margin 0 0 0 -45px
			cursor pointer
			text-align center
			background none
			border none
			color #eee
			transition color .2s ease-out

			&:hover
				color #4078c0

			&:active
				color black

			&:focus
				outline none
	.btn-back
		margin 0 -45px 0 0

.subnav-section
	position absolute
	top 0
	bottom 0
	right 0
	left 0
	display none


.subnav-section.active
	display block


.subnav-section a
	color inherit
	text-decoration none


.subnav-section a:hover
	text-decoration underline



.subnav-section h2
	font-size 14px
	line-height 17px
	font-weight 600
	margin 0




.subnav-section .nav-icon-btn
	position absolute
	right 5px
	top 0
	color #eee


.subnav-section .nav-icon-btn:hover
	color lightblue


.subnav-section .nav-icon-btn:active
	color white



.subnav-section .nav-icon-btn-left
	left 5px
	right auto



.subnav-section-list
	position absolute
	top 44px
	left 0
	right 0
	bottom 0
	overflow hidden
	overflow-y auto
