body { min-width: auto !important;
	/* this is required as macos lookup has an offset bug */
	/*margin-left: 364px;		*/
}


.repository-topics-container,
.repository-meta,
.repohead,
.pjax-loader-bar,
.flash-full.js-notice,
.notification-actions .mute,
.notification-center .tabnav,
.header,
.js-header-wrapper,
.site-footer,			/* deprecated: old css */
.footer,
.protip,
.site-footer-container,
.repository-content .overall-summary,
.repository-content .repository-lang-stats-graph { display: none; }


.main-content { padding: 0; }
.container { width: auto; }


/* position: sticky causes some rendering issues on retina screens */
/* .discussion-sidebar-item.sidebar-labels { transform: translate3d(0,0,0); position: relative; } */


/* files */

.file-navigation { margin: 20px 20px 0; }
.commit-tease { margin: 10px 20px 0; }
.file-wrap { margin: -1px 20px 20px; }
.readme { margin: 0 20px 20px; }


/* notifications full view */
.notification-center { margin: -19px -15px -15px; }
.notifications-list .boxed-group-inner { border-width: 1px 0; }
.notifications-list .boxed-group { margin-bottom: 0; }
.notifications-list .boxed-group>h3 { border-width: 0 0 1px 0; position: sticky; }
.notifications-list .paginate-container { margin: 0; }

.notifications .list-group-item-name { max-width: 100%; margin-right: 220px; }
.notifications .list-group-item-name a { max-width: 100%; }

.type-icon-state-merged { color: #a476f9; }


/* old */
.gut-md { width: auto; margin: 0; }
.gut-md>.col-3 { display: none; }
.gut-md>.col-9 { float: none !important; width: 100%; }
.gut-md>.col-9 .blankslate { background: none; box-shadow: none; border: 0; }

/* new */
.gutter { width: auto; margin: 0; }
.gutter>.col-3 { display: none; }
.gutter>.col-9 { float: none !important; width: 100%; }
.gutter>.col-9 .blankslate { background: none; box-shadow: none; border: 0; }




/* projects view */
.project-columns-container { height: 100%; }
.project-header { margin-top: 7px; }
.new-project-column { margin-right: 10px; }

.project-columns { width: auto; height: calc(100vh - 70px); margin-right: -30px; }
.project-column { height: calc(100vh - 130px); }

.project-full-screen .project-columns { height: calc(100vh - 62px); }
.project-full-screen .project-column { height: calc(100vh - 120px); }




/* issues list view */
.issues-listing .border-right,
.issues-listing .border-bottom,
.issues-listing .border-left { border: none !important; }

.issues-listing .table-list-header { border-width: 0 0 1px; border-radius: 0; margin: 0; }
.issues-reset-query-wrapper { display: none; }

.js-navigation-item.js-issue-row.unread { box-shadow: 1px 0 0 #ccc inset, 6px 0 0 #0366d6 inset; }

.clearfix.mb-3,      																				/* in projects view */
.issues-listing .subnav { height: 0; overflow: hidden; padding: 0; margin: 0 !important; }

.clearfix.mb-3 .float-right .btn.btn-primary,														/* in projects view */
.issues-listing .btn.btn-primary.float-right {
	position: fixed;
	bottom: 30px;
	right: 30px;
	border-radius: 30px;
	font-size: 0;
	padding: 0;
    width: 50px;
    height: 50px;
    z-index: 999;
}
.clearfix.mb-3 .float-right .btn.btn-primary:after,													/* in projects view */
.issues-listing .btn.btn-primary.float-right:after {
	display: block;
	content: '+';
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 40px;
	font-weight: 200;
	top: 0;
	line-height: 40px;
}


/* issue timeline */
.discussion-timeline { width: calc(100% - 220px); }
.timeline-new-comment { max-width: initial; }
.previewable-comment-form textarea { max-height: none; min-height: 240px; }


/* PR tabs: commits & files */
.files-bucket { padding: 20px 0; }
.js-issues-results { padding: 20px; }



/* maing gh landing page*/
.page-dashboard .news .alert { border: none; }
.page-dashboard .news>.text-center,
.page-dashboard .news .account-switcher { display: none; }

#new_issue { padding: 0 20px; }





/* name, age, checkbox and avatars */
@media (max-width: 1210px) {			/* should be 850, once the dict lookup offset bug is fixed */
	.main-content { padding: 0 10px; }
	.one-fourth { display: none; }
	.three-fourths { width: 100%; }
	.notifications .list-group-item-name { max-width: auto; margin-right: 200px; }
	.notification-actions>li.age { width: 100px; }
}

/* name, age and checkbox */
@media (max-width: 910px) {			/* should be 550 */
	.notifications .list-group-item-name { margin-right: 130px; }
	.notification-actions>li.age { width: 90px; }
	.notification-actions>li.tooltipped { display: none; }
}

/* name and checkbox */
@media (max-width: 810px) {			/* should be 450 */
	.notifications .list-group-item-name { margin-right: 25px; }
	.notification-actions>li.age { display: none; }
}

/* just name */
@media (max-width: 710px) {			/* should be 350 */
	.notification-actions { display: none; }
	.notifications .list-group-item-name { margin-right: 0; }
}
