@require '_lib'


.issue-box
	flex-wrap wrap


	&.open .issue-icon
		color ico-col-open
		-webkit-text-stroke 0.5px ico-col-open


	&.closed .issue-icon
		color ico-col-closed
		-webkit-text-stroke 0.5px ico-col-closed

	&.merged .issue-icon
		color ico-col-merged
		-webkit-text-stroke 0.5px ico-col-merged


	.issue-date
		font-size 10px
		width 100%
		color rgba(255,255,255,.5)
		padding 3px 0 3px 20px
