:root {
	--nav-bar-width: 64px;
}


#nav { position: absolute; width: var(--nav-bar-width); top: 0; left: 0; bottom: 0; background: #111B2D; }

.nav-btn {
	display: block;
	width: 40px;
	height: 40px;
	margin: 14px auto;
	border-radius: 3px;
	background: #2C384D; text-decoration: none; position: relative;
	transition: background-color .3s ease-out;
}
.nav-btn:hover { background: #43516D; }

.nav-btn .icon {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}
.nav-btn.active { background-color: #fff; }
.nav-btn.active .icon { background-color: #111B2D; }

.nav-btn .badge {
	position: absolute; right: -8px; top: -8px; height: 18px; min-width: 18px;
	padding: 3px 4px 0; text-align: center; border-radius: 100px;
	font-size: 11px; line-height: 1; font-weight: 100;
	color: #fff; background: #F5391B;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
	display: none;
}


.nav-bookmarks .icon { -webkit-mask-image: url("../../assets/icon-bookmark.svg"); }
.nav-notifications .icon { -webkit-mask-image: url("../../assets/icon-bell.svg"); }
.nav-myissues .icon { -webkit-mask-image: url("../../assets/icon-inbox.svg"); }
.nav-projects .icon { -webkit-mask-image: url("../../assets/icon-projects.svg"); }





#subnav { position: absolute; width: 300px; top: 0; left: var(--nav-bar-width); bottom: 0;
	color: #eee; background: #2C384D; box-shadow: 1px 0 0 rgba(255,255,255, .1) inset;
}

.subnav-section { position: absolute; top: 0; bottom: 0; right: 0; left: 0; display: none; }
.subnav-section.active { display: block; }
.subnav-section a { color: inherit; text-decoration: none; }
.subnav-section a:hover { text-decoration: underline; }

.subnav-section h1 { font-size: 14px; font-weight: 300; line-height: 12px; margin: 0; color: #eee;
	padding: 13px 0 0; height: 38px; text-transform: uppercase; text-align: center;
}
.subnav-section h2 { font-size: 14px; line-height: 17px; font-weight: 600; margin: 0; }


.subnav-section .nav-icon-btn { position: absolute; right: 5px; top: 0; color: #eee; }
.subnav-section .nav-icon-btn:hover { color: lightblue; }
.subnav-section .nav-icon-btn:active { color: white; }


.subnav-section-list {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	overflow-y: auto;
}
